menu "Logger Common Configuration"
    choice
        bool "Default log verbosity"
        default LOGGER_COMMON_LOG_LEVEL_WARN
        help
            Specify how important log should be added.
        config LOGGER_COMMON_LOG_LEVEL_TRACE
            bool "A lot of logs to give detailed information"
        config LOGGER_COMMON_LOG_LEVEL_INFO
            bool "Log important events"
        config LOGGER_COMMON_LOG_LEVEL_WARN
            bool "Log if something unwanted happened but didn't cause a problem"
        config LOGGER_COMMON_LOG_LEVEL_ERROR
            bool "Only critical issues, when the system may fail"
        config LOGGER_COMMON_LOG_LEVEL_USER
            bool "Only logs added by the user"
        config LOGGER_COMMON_LOG_LEVEL_NONE
            bool "Do not log anything"
    endchoice
    config LOGGER_COMMON_LOG_LEVEL
        int
        default 0 if LOGGER_COMMON_LOG_LEVEL_TRACE
        default 1 if LOGGER_COMMON_LOG_LEVEL_INFO
        default 2 if LOGGER_COMMON_LOG_LEVEL_WARN
        default 3 if LOGGER_COMMON_LOG_LEVEL_ERROR
        default 4 if LOGGER_COMMON_LOG_LEVEL_USER
        default 5 if LOGGER_COMMON_LOG_LEVEL_NONE
    choice
            default HAS_BOARD_LILYGO_T_DISPLAY_S3 if IDF_TARGET_ESP32S3
            default HAS_BOARD_LILYGO_EPAPER_T5 if IDF_TARGET_ESP32
            prompt "Select board"
            config HAS_BOARD_LILYGO_EPAPER_T5
                depends on IDF_TARGET_ESP32
            bool "Board is Lilygo Epaper T5"
            config HAS_BOARD_LILYGO_T_DISPLAY_S3
                depends on IDF_TARGET_ESP32S3
            bool "Board is Lilygo T-Display S3"
    endchoice
    menu "Enable BMX280 Temperature sensor"
            comment "Bmx temperature sensor"
            config BMX_ENABLE
                bool "Enable BMX280 temp sensor"
                default y if HAS_BOARD_LILYGO_T_DISPLAY_S3
                help
                    This option enables BMX280 temp sensor.:
        menu "BMX temperature sensor pins"
            depends on BMX_ENABLE
            comment "GPS send and transmit pin configuration"
            config BMX_SDA
                int "Bmx280 SDA pin"
                default 43 if HAS_BOARD_LILYGO_T_DISPLAY_S3
                default 21
                help
                Specify the SDA pin for Bmx280 sensor.
            config BMX_SCL
                int "Bmx280 SCL pin"
                default 44 if HAS_BOARD_LILYGO_T_DISPLAY_S3
                default 22
                help
                Specify the SCL pin for GPS Bmx280 sensor.
        endmenu
    endmenu
endmenu