menu "ESP GPS Logger Common Configuration"
    comment "ESP GPS Logger configuration"
        config ESP_GPS_VERBOSE_BUILD
            bool "Debug console output"
            default false
            help
                Show more logging output on console or not
        choice
            default ESP_GPS_BOARD_LILYGO_EPAPER_T5
            prompt "Select board"
            config ESP_GPS_BOARD_LILYGO_EPAPER_T5
            bool "Board is Lilygo Epaper T5"
            config ESP_GPS_BOARD_LILYGO_T_DISPLAY_S3
            bool "Board is Lilygo T-Display S3"
        endchoice
endmenu